.contentContainer {
  width: 100%;
  height: 90vh;
  overflow: auto;

  // padding: 16px 56px 80px 56px;
  background-color: white;
  max-width: 1920px;
  align-self: center;
  display: flex;
  align-items: center;

  .pageTitle {
    margin: 32px 0;
  }

  .headlineContent {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    width: 100%;

    .headlineBox {
      padding: 0 48px;
      max-width: 700px;

      h2 {
        font-size: 42px;
        font-weight: 500;
      }

      span {
        font-size: 18px;
        max-width: 10px;
        color: #868686;
        font-weight: 300;
      }
    }
  }

  .livesContent {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    overflow-y: auto;

    flex: 1;
    width: 100%;

    height: 100%;

    .card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      background-color: #ffffff;
      width: 600px;

      padding: 16px;
      padding-right: 24px;

      margin-bottom: 2rem;
      border: 1px solid #dadada;

      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 29px 1px rgba(214, 214, 214, 1);
      -moz-box-shadow: 0px 0px 29px 1px rgba(214, 214, 214, 1);
      box-shadow: 0px 0px 29px 1px rgba(214, 214, 214, 1);

      &:hover {
        transition: 0.2s ease-in-out;
        cursor: pointer;
        background-color: #01a1ff;
        color: #ffffff;
      }

      h3 {
        font-size: 24px;
        font-weight: 400;
      }

      img {
        width: 100px;
        height: 100px;

        object-fit: cover;
        border-radius: 8px;
      }

      h4 {
        font-size: 14px;
        font-weight: 400;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
