.paragraph {
  margin-bottom: 24px;
  font-size: 16px;

  a { transition: 0.2s ease; }
  a:hover { color: red; }

  &:last-child {
    margin: 0;
  }
}

.buttonClose {
  background-color: transparent;
  border: 1px solid #dadada;
  color: #454545 !important;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--space-2);
  border-radius: var(--radii-medium);
  font-family: var(--fonts-body);
  font-size: var(--fontSizes-body2);
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.04rem;
  transition: all 0.2s ease 0s;
  padding: var(--space-4) var(--space-6);

  &:hover {
    border-color: #454545;
  }
}