.contentContainer {
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 16px 32px 80px 116px;
  max-width: 1920px;
  align-self: center;

  .contentHolder {
    display: flex;
    gap: 16px;
    margin-bottom: 2rem;

    .articleContainer {
      width: 70%;
      height: auto;
      border-radius: 32px;
      overflow-y: auto;

      .articleHeader {
        display: flex;
        gap: 16px;
      }
    }

    .asideContainer {
      display: flex;
      width: 30%;
      flex-direction: column;

      .asideBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 64px 24px 32px;
        border-radius: 32px;

        .asideInfo {
          margin-top: 1.5rem;
          h2 {
            font-size: 32px;
            margin-bottom: 12px;
          }
          h4 {
            font-weight: 300;
            color: #8c8c8c;
          }
        }
      }
    }
  }
}
