.horizontalSlider {
  position: relative;
  height: 4px;
  border-radius: 3px;
  background: rgba(144, 144, 144, 0.2);
}

.thumb {
  width: 12px;
  height: 12px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  top: -3px;
}

.track {
  height: 4px;
  background: linear-gradient(
    90deg,
    #f23d80 0%,
    #ffc700 30.98%,
    #63d130 60.93%,
    #00a0ff 99.14%
  );
  box-shadow: 0px 0px 9px rgba(251, 200, 2, 0.21);
  border-radius: 3px;
}
