@font-face {
  font-family: "RingMedium";
  src: url("../../public/fonts/ringside-medium.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RingSemibold";
  src: url("/fonts/ringside-semibold.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RingBold";
  src: url("/fonts/ringside-bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RingUltra";
  src: url("/fonts/ringside-ultra.otf");
  font-weight: 800;
  font-style: normal;
}
