.StepWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  background-color: #fff;
  max-width: fit-content;

  .Steps {
    color: #ee0014;
    font-weight: 700;
    margin-right: 7px;
    font-size: 18px;
  }
  .StepTitle {
    color: #202020;
    font-weight: 700;
    font-size: 18px;
  }
}
