.table {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #e3e3e3;
  border-radius: 2px;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    padding: 0.8rem 1rem;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
      background-color: #e7e7e7;
      color: red;
    }
  }
}

.cardProgram {
  font-family: "RingMedium";

  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in;
  cursor: pointer;
  padding-right: 1rem;

  border: 1px solid #dadada;
  margin-bottom: 8px;

  .clickableArea {
    width: 100%;
    padding: 20px 1rem;
  }

  &:hover {
    background-color: #e7e7e7;
    color: red;
  }
}
