.btnGoBack {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    border-radius: 48px;
    background-color: white;
    margin-bottom: 1rem;
}