.table {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  font-family: "RingBold";

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    padding: 0.8rem 1rem;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #e7e7e7;
    }
  }
}

.optionContainer {
  padding: 8px 12px;
  transition: all 0.2s ease-in;
  border-radius: 2px;
  border-color: #fafafa;
  display: flex;
  align-items: center;
  column-gap: 1rem;

  legend {
    font-family: "RingBold";
    font-size: 14px;
    color: #ee0014;
    background-color: #fff;
    padding: 0 8px;
  }

  input {
    padding: 4px 8px;
    font-family: "RingBold";
    font-size: 12px;
    width: 100%;
    color: #3c3c3c;
  }

  &:hover {
    border-color: #ee0014;
  }
}

.questionTypeContainer {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin: 8px 0 1rem;

  .typeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    input {
      accent-color: #ee0014;
    }

    label {
      font-family: "RingBold";
      font-size: 14px;
      margin-left: 4px;
    }
  }
}

.addOptionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin: 0.5rem 0;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  p {
    font-family: "RingBold";
    font-size: 14px;
    margin-left: 4px;
    transition: all 0.2s ease-in;
  }

  &:hover {
    p {
      color: #ee0014;
    }
  }
}
