.table {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: auto;
  border-radius: 2px;
  font-family: "RingMedium";

  .videoCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in;
    margin-bottom: 16px;
  }

  .newVideoCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 20px 1rem;

    border: 1px solid #dadada;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #e7e7e7;
      color: red;
    }
  }
}
