.Container {
  max-width: 1920px;
  margin: 0px auto;
  position: relative;
  background-color: #fff;
  min-height: 100vh;
}

.RowVideo {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  position: relative;
  width: 100%;
}

.Breadcrumb {
  padding: 15px 20px;

  .BreadcrumbText {
    color: #313131;
    font-size: 1rem;

    @media (max-width: 400px) {
      font-size: 0.6rem !important;
    }

    @media (max-width: 768px) {
      font-size: 0.7rem;
    }

    strong {
      color: #fff;
      background-color: #ee0014;
      padding: 15px 10px;
    }
  }
}
