.video {
  position: relative;
  width: 100%;

  .breadcrumb {
    width: 100%;
    background-color: #ffffff;
    padding: 8px 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: 12px;
    }
  }
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  .videoDetailsContainer {
    width: 100%;
    padding: 16px;
    padding-bottom: 0;

    .videoTitle {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 16px;
    }
  }
}
