.divider {
  content: "";
  width: 100%;
  height: 2px;

  background-color: #cccccc40;
}

.container {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.moduleWrapper {
    height: 100vh;
    width: 40%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  position: relative;
  background-color: #ee0014;

  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #ee0014;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  .topVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* Safari */
    position: relative;
    align-self: flex-end;

    .topVideoList {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      overflow: auto;

      padding: 16px;

      .moduleCard {
        background: #fff;
        border-radius: 8px;
        padding: 0px 0px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 1rem;

        position: -webkit-sticky;
        top: 10px;

        .rowCard {
          padding: 20px 20px 8px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .moduleWatched {
            strong {
              color: #ee0014;
              font-family: "RingBold";
            }
          }
        }

        .moduleTitle {
          font-size: 24px;
          margin-left: 20px;
          font-family: "RingBold";
          text-transform: uppercase;
        }

        .divider {
          margin: 10px 0px;
          margin-bottom: 20px;
        }

        .videosInfo {
          padding: 0px 20px;
          font-size: 0.9rem;
          font-weight: 500;

          padding-bottom: 20px;

          .numberVideosInfo {
            margin-right: 10px;
            color: #8c8c8c;
          }

          .minutesInfo {
            margin-left: 10px;
            color: #8c8c8c;
          }
        }
      }

      .gridVideos {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: 528px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1024px) {
          grid-template-columns: repeat(1, 1fr);
        }

        gap: 16px;

        .cardVideo {
          cursor: pointer;
          background: #fff;
          border-radius: 8px;
          padding: 0px 0px;
          width: 100%;

          @media screen and (min-width: 768px) {
          }

          height: auto;

          .thumbnailWrapper {
            background-color: #8c8c8c;
            height: 220px;
            border-radius: 8px;
            margin-bottom: 1rem;
            overflow: hidden;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
          padding: 16px;

          .content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;

            .title {
              font-family: "RingBold";
              font-weight: 600;
              font-size: 24px;
            }

            .completedBadge {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 16px;
              background-color: #e9f8e2;
              max-width: 100px;
              max-height: 42px;

              span {
                color: #1f8c65;
              }
            }
          }
        }
      }
    }
  }
}
